@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
i {
  color: #fff !important;
  display: block;
  text-shadow: 0 2px 3px #000;
  line-height: 1em;

  // &:hover {
  // color: black;
  // }
}

hr {
  border-top: 1px solid rgba(255, 255, 255, 0.16);
}

$mobile: 500px;
$tablet: 768px;
$desktop: 778px;

.show-only-desktop {
  @media only screen and (max-width: $tablet) {
    display: none !important;
  }
}

.show-only-tablet {
  @media only screen and (min-width: $desktop) {
    display: none !important;
  }

  @media only screen and (max-width: $mobile) {
    display: none !important;
  }
}

.show-only-mobile {
  @media only screen and (min-width: $tablet) {
    display: none !important;
  }
}

.show-desktop-tablet {
  @media only screen and (max-width: $mobile) {
    display: none !important;
  }
}

.show-desktop-mobile {
  @media only screen and (min-width: $desktop) and (max-width: $tablet) {
    display: none !important;
  }
}

.show-tablet-mobile {
  @media only screen and (min-width: $desktop) {
    display: none !important;
  }
}

.my-card {
  .card {
    border: none;
    // border-radius: 5px;
    background-color: transparent;

    &:hover {
      // border: 0.5px solid skyblue;
      // border-radius: 5px;
      cursor: pointer;
    }

    .position-relative {
      .card-img {
        width: 70vw;
        height: 45vh;

        @media only screen and (min-width: $tablet) {
          width: 35vw;
          height: 35vh;
        }
        @media only screen and (min-width: $desktop) {
          width: 15vw;
          height: 40vh;
        }
      }
    }
  }
}

.btn-group-fab {
  position: fixed;
  width: 100px;
  height: auto;
  right: 15px;
  bottom: 40px;

  div {
    position: relative;
    width: 100%;
    height: auto;
  }
  .btn {
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    display: block;
    margin-bottom: 4px;
    width: 40px;
    height: 40px;
    margin: 4px auto;
  }
  .btn-main {
    width: 60px;
    height: 60px;
    right: 20%;
    z-index: 9;

    @media only screen and (min-width: $tablet) {
      width: 65px;
      height: 65px;
      right: 50%;
    }
    @media only screen and (min-width: $desktop) {
      width: 65px;
      height: 65px;
      right: 50%;
    }
  }
}

.text-center {
  text-align: center !important;
}
